.centerSection {
    color: #f1faee;
    text-align: left;
    min-width: 200px;
    min-height: 100px;
    width: 88%;
}

.centerLanding {
    color: #f1faee;
    text-align: center;
    min-width: 200px;
    min-height: 100px;
    width: 88%;
    padding: 100px 0;
}

.textPrompt {
    width: 100%;
}

.renderBtn {
    width: 30%;
    float: left;
    vertical-align: middle;
    text-align: left;
    margin-top: 8px;
}

.modelSelect {
    width: 60%;
    float: right;
    text-align: right;
}

.promptControls {
    width: 100%;
    height: 56px;
}

.centerCanvas {
    text-align: center;
    min-height: 100px;
    width: 100%;
}

.makeVideoBtn {
    width: 50%;
    float: right;
    text-align: right;
}

.backBtn {
    width: 50%;
    float: left;
    text-align: left;
}

.slider {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}

.downloadIcon {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 2%;
    right: 2%;
}

.shareIcon {
    position: absolute;
    width: 22px;
    height: 22px;
    right: 12%;
    top: 2%;
}

.containerRelative {
    position: relative;
}

.videoPreview {
    position: absolute;
    width: 100%;
}

.imagePreview {
    width: 100%;
}

.red {
    color: #e63946
}