.centerSection {
    color: #f1faee;
    text-align: left;
    min-width: 200px;
    max-width: 800px;
    min-height: 100px;
    width: 88%;
}

.centerLanding {
    color: #f1faee;
    text-align: center;
    min-width: 200px;
    max-width: 800px;
    min-height: 100px;
    width: 88%;
    padding: 100px 0;
}

.textPrompt {
    width: 100%;
}

.renderBtn {
    width: 30%;
    float: left;
    vertical-align: middle;
    text-align: right;
    margin-top: 8px;
}

.modelSelect {
    width: 60%;
    float: right;
}

.promptControls {
    width: 100%;
    height: 56px;
}

.red {
    color: #e63946
}