.main {
    text-align: center;
}

.centerSection {
    text-align: left;
    margin: auto;
    width: 90%;
    min-width: 300px;
    max-width: 512px;
}

.centerLanding {
    width: 90%;
    max-width: 512px;
    margin: auto;
    padding: 0 0;
    z-index: 2;
}

.centerGallery {
    max-width: 512px;
    width: 100%;
    margin: auto;
}

.editorControls {
    width: 70%;
    max-width: 512px;
    margin: auto;
}

.textPrompt {
    width: 100%;
}

.modelSelect {
    width: 60%;
    float: right;
    text-align: right;
}

.centerCanvas {
    text-align: center;
    min-height: 100px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    border-radius: 5px;
}


.slider {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.center {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
}

.shareIcon {
    position: absolute;
    width: 28px;
    height: 28px;
    color: #FFC303;
    z-index: 59;
    right: 5%;

}

.galleryShareIcon {
    position: absolute;
    width: 28px;
    height: 28px;
    right: 3%;
    top: 2%;
    color: #FFC303;
    z-index: 99;
}

.videoPreview {
    width: 100%;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    margin: 0 auto;

}

.imagePreview {
    width: 100%;
    border-radius: 5px;
}


.longrunIndicator {
    width: 100%;
    clear: both;
}

.renderBtn {
    background-color: transparent;
    position: absolute;
    right: -8px;
    bottom: -8px;
    color: #FFC30C;
}


.galleryTable {
    width: 100%;
}

.toast {
    position: absolute;
    top: 0%;
    right: 0%;
    height: 10px;
}

.editorModal {
    padding: 0px;
    margin: 0px;
    size: 30px;
}

.deleteTextBtn {
    float: right;
    color: #FF4429;
}

.wave {
    background-image: url('/wave.svg');
    height: 7rem;
    width: 100%;
    background-repeat: repeat-x;
}

.menuItemText {
    font-weight: 500;
    width: 100%;
    line-height: 2.5rem;
}

.installBtn {
    width: 100%;
    display: none
}

@media only screen and (min-width: 501px) {

    /* Desktop version */
    /* Leave them here in case we need to adjust the scale of the UI */
    .centerLanding {
        transform: scale(1);
    }

    .centerSection {
        transform: scale(1);
    }

    .main {
        transform: scale(1);
    }

    .menuItemText {
        justify-content: center;
    }

    .installBtn {
        display: inline
    }
}